<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>Сервис оплаты</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
